{deps, [
  grisp,
  {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}},
  {lasp, {git, "https://github.com/lasp-lang/lasp.git", {branch, "master"}}},
  partisan
]}.

{erl_opts, [debug_info]}.

{grisp, [
    {otp, [
        {version, "21.0"}
    ]},
    {deploy, [
      {pre_script, "rm -rf /Volumes/GRISP/*"},
      {destination, "/Volumes/GRISP"},
      {post_script, "diskutil unmount /Volumes/GRISP"}
    ]},
    {build, [
        {toolchain, [
          {directory,"/Users/Laymer/GRiSP/grisp-software/rtems-install/rtems/5"}
        ]}
    ]}
]}.

{shell, [{apps, []},
        {config, "config/sys.config"}]}.

{relx, [
    {release, {grisplite, "0.1.0"}, [
      runtime_tools,
      {epmd, none},
      {lasp, load},
      grisplite
    ]},
    {sys_config, "config/sys.config"},
    {extended_start_script, true}
]}.
